.container .plot{
    min-height:600px;
    height:1000px;
}
#plot-3{
    height:600px;
}

/* cluster */
.node{
	fill:white;
	stroke:black;
	stroke-width:1px;
}
.link{
	fill:none;
	stroke:black;
	stroke-opacity:.1;
}
.node text{
	font-size:10px;
	stroke:none;
	fill:black;
}